---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
---

<Layout title="Chakubaji">
  <main class="imgbox">
    <img src="main_img.jpg" alt="photo" class="center-fit" />
  </main>
</Layout>

<style>
  * {
    margin: 0;
    padding: 0;
  }
  .imgbox {
    display: grid;
    height: 100%;
  }
  .center-fit {
    width: 100vw;
    height: 100vh;
    margin: auto;
  }
</style>
